@family-height: 700px;
@family-width: 500px;

@family__crest-height: @family-width;
@family__crest-width: @family__crest-height;

.family {
  width: @family-width;
  height: @family-height;
  margin: auto;
  color: #ffffff;
  text-align: center;
  .family__name {
    font-size: 3em;
  }
  .family__coat-of-arms {
    width: @family__crest-width;
    height: @family__crest-height;
    background-color: #000;
    background-size: cover;
  }
  .family__words {
    margin: 20px 0;
    font-size: 2em;
  }
}
